nav
{
    border-bottom: 1px solid pink;
    display: block;
}
a
{
    color: #000000;
}
a:hover
{
    text-decoration: none;
    color:red;
}
a::after
{
    display: inline-block;
    color: block;
    font-size: 75%;
    font-weight: bold;
    padding: 5px;
}
.div_black
{
    border-radius: 25px;
    background: orange;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}
.div_shadow
{
    box-shadow: 5px 5px 5px;
    background: white;
    padding: 20px;
    color: black;
    margin-bottom: 20px;
}
footer
{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: orange;
    color: #fff;
}
